
cmake-build-debug/CMakeFiles/CodBusudhego.dir/main.cpp.obj
cmake-build-debug/
main.cpp
.idea/
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
CMakeLists.txt
main.exe
CMakeLists.txt
praktika.exe
zadanie1_5.exe
zadanie1_4.exe
zadanie1_3.exe
zadanie1_2.exe
zadanie1_1.exe
zadanie1.exe
zadanie.exe
zadanie1_6.exe
lesson1_1.exe
lesson2_1.exe
Lesson2_2.exe
k.exe
Lesson2_3.exe
CMakeLists.txt
Lesson2_4.exe
Lesson2_5.exe
Lesson3_1.exe
Lesson2_6.exe
Lesson3_1.exe
Lesson3_2.exe
Lesson3_1.exe
Lesson3_1.exe
chernovik.cpp
chernovik.exe
CMakeLists.txt
Lesson3_1.exe
Lesson3_3.exe
Lesson3_4.exe
Lesson3_5.exe
Lesson3_6.exe
*.exe
Module3/Razdel_1/1_1/ClassWork/1.cpp
Module3/Razdel_1/1_1/ClassWork/1.cpp
1_1.exe
