
cmake-build-debug/CMakeFiles/CodBusudhego.dir/main.cpp.obj
cmake-build-debug/
main.cpp
.idea/
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
CMakeLists.txt
main.exe
CMakeLists.txt
praktika.exe
zadanie1_5.exe
zadanie1_4.exe
zadanie1_3.exe
zadanie1_2.exe
zadanie1_1.exe
zadanie1.exe
zadanie.exe
zadanie1_6.exe
lesson1_1.exe
