
cmake-build-debug/CMakeFiles/CodBusudhego.dir/main.cpp.obj
cmake-build-debug/
main.cpp
.idea/
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
cmake-build-debug/build.ninja
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/Testing/Temporary/LastTest.log
CMakeLists.txt
